<h1>{{title}}</h1>
<!-- <app-heroes></app-heroes> -->
<!-- <app-dashboard></app-dashboard> -->
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>

<!-- [appHighlight] 属性同时做了两件事：把这个高亮指令应用到了 <p> 元素上，并且通过属性绑定设置了该指令的高亮颜色 -->
<!-- <p appHighlight [highlightColor]="color">Highlighted with parent component's color</p> -->
<p [appHighlight]="color">Highlight me</p>

<h4>pick a color</h4>
<div>
  <input type="radio" name="colors" (click)="color='yellow'">yellow
  <input type="radio" name="colors" (click)="color='red'">red
  <input type="radio" name="colors" (click)="color='blue'">blue
</div>
<p [appHighlight]="color">change my color</p>

<p [appHighlight]="color" defaultColor="violet">
  Highlight me too!
</p>

<p *appUnless="condition" class="unless a">
  (A) This paragraph is displayed because the condition is false
</p>

<p *appUnless="!condition" class="unless b">
  (B) Although the condition is true,
  this paragraph is displayed because appUnless is set to false.
</p>

<app-date-pipe></app-date-pipe>