
<app-countdown-parent-vc></app-countdown-parent-vc>

<h2>双向绑定</h2>
<app-sizer-parent></app-sizer-parent>

------------------
<h2>Observable and RxJS</h2>
<app-mission-control></app-mission-control>

<h1>{{title}}</h1>

<app-reactive-favorite-color></app-reactive-favorite-color>
<!-- <app-heroes></app-heroes> -->
<!-- <app-dashboard></app-dashboard> -->
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>

<!-- directive start-->
<div>
  <h2>directive</h2>
  <!-- [appHighlight] 属性同时做了两件事：把这个高亮指令应用到了 <p> 元素上，并且通过属性绑定设置了该指令的高亮颜色 -->
  <!-- <p appHighlight [highlightColor]="color">Highlighted with parent component's color</p> -->
  <p [appHighlight]="color">Highlight me</p>

  <h4>pick a color</h4>
  <div>
    <input type="radio" name="colors" (click)="color='yellow'">yellow
    <input type="radio" name="colors" (click)="color='red'">red
    <input type="radio" name="colors" (click)="color='blue'">blue
  </div>
  <p [appHighlight]="color">change my color</p>

  <p [appHighlight]="color" defaultColor="violet">
    Highlight me too!
  </p>

  <p *appUnless="condition" class="unless a">
    (A) This paragraph is displayed because the condition is false
  </p>

  <p *appUnless="!condition" class="unless b">
    (B) Although the condition is true,
    this paragraph is displayed because appUnless is set to false.
  </p>

</div>

<!-- directive over-->

<div>
  <h2>pipe</h2>
  <app-date-pipe></app-date-pipe>
  <app-power-booster></app-power-booster>
</div>


<!-- <div id="parent-to-child">
  <b>通过输入型绑定把数据从父组件传到子组件</b>
  <app-hero-parent></app-hero-parent>
</div> -->

<!-- <div>
  <b>通过 setter 截听输入属性值的变化</b>
  <app-name-parent></app-name-parent>
</div> -->

<!-- <div>
    <app-version-parent></app-version-parent>
</div> -->

<div>
    <app-voter-parent></app-voter-parent>
</div>

<div>
  <h3>特性模块</h3>
  <div>
    <app-cutomer-dashboard></app-cutomer-dashboard>
  </div>
</div>
